@font-face {
  font-family: "recoletaalt-regular";
  src: url("../recolenta-aalt/recoletaalt-regular.woff2") format("woff2"),
    url("../recolenta-aalt/recoletaalt-regular.woff") format("woff");
  font-weight: normal;
}

@font-face {
  font-family: "recoletaalt-medium";
  src: url("../recolenta-aalt/recoletaalt-medium.woff2") format("woff2"),
    url("../recolenta-aalt/recoletaalt-medium.woff") format("woff");
  font-weight: 500;
}
