/* Navbar variables */
.theme-light {
  --navbar-bg-color: var(--primary-color);
  --text-logo-color: var(--text-color);
  --text-color-nav-bar: var(--text-color);
  --text-color-nav-bar-submenu: #000000;
  --nav-bar-submenu-bg-color: #ffffff;
  --color-label-slide-toggle:  #ffffff;
}

.theme-dark {
  --navbar-bg-color: var(--primary-color);
  --text-logo-color: var(--text-color);
  --text-color-nav-bar: var(--text-color);
  --text-color-nav-bar-submenu: #000000;
  --nav-bar-submenu-bg-color: #ffffff;
  --color-label-slide-toggle:  #ffffff;
}
