/* You can add global styles to this file, and also import other style files */

@import 'assets/fonts/_font.scss';

html, body { height: 100%; }

body {
  background-color: var(--background-color);
  font-family: var(--font-regular);
  color: var(--text-color);
  transition: background-color 0.3s, color 0.3s;
}
