// Light theme
$light-primary-color: #006241; // verde oscuro
$light-primary-color-lighter: #11dd99; // verde claro
$light-secondary-color: #4a148c; // púrpura oscuro, contraste con verde
$light-tertiary-color: #ff9800; // naranja/acento
$light-background-color: #ffffff; // blanco
$light-text-color: #020202; // blanco sobre primary

// Dark theme
$dark-primary-color: #000000;
$dark-primary-color-darker: #636363;
$dark-secondary-color: #ce93d8;
$dark-tertiary-color: #ffb74d;
$dark-background-color: #9e9a9a;
$dark-text-color: #f5f5f5;

