@use "colors" as *;
@use "themes/navbar-theme" as *;

:root {
  --font-regular: "recoletaalt-regular", sans-serif;
  --font-medium: "recoletaalt-medium", sans-serif;
}

// Definir temas con clases
.theme-light {
  --primary-color: #{$light-primary-color};
  --primary-color-lighter: #{$light-primary-color-lighter};
  --secondary-color: #{$light-secondary-color};
  --tertiary-color: #{$light-tertiary-color};
  --background-color: #{$light-background-color};
  --text-color: #{$light-text-color};
}

.theme-dark {
  --primary-color: #{$dark-primary-color};
  --primary-color-darker: #{$dark-primary-color-darker};
  --secondary-color: #{$dark-secondary-color};
  --tertiary-color: #{$dark-tertiary-color};
  --background-color: #{$dark-background-color};
  --text-color: #{$dark-text-color};
}
