@use 'mixins' as *;
@use 'globals' as *;
@use 'colors' as *;
@use 'variables' as *;
@use 'components/navbar' as *;
@use 'components/buttons' as *;
@use 'components/mat-checkbox' as *;
@use 'components/slide-toggle' as *;

@use '@angular/material' as mat;
@use 'sass:map';

// Paleta para tema claro
$my-primary-palette-light: map.merge(
  mat.$azure-palette,
  (
    40: $light-primary-color,
    80: $light-primary-color-lighter
  )
);

$app-theme-light: mat.define-theme((
  color: (
    primary: $my-primary-palette-light,
    tertiary: mat.$blue-palette
  ),
  density: (scale: 0)
));

// Paleta para tema oscuro
$my-primary-palette-dark: map.merge(
  mat.$azure-palette,
  (
    40: $dark-primary-color,
    80: $dark-primary-color-darker
  )
);

$app-theme-dark: mat.define-theme((
  color: (
    theme-type: dark,
    primary: $my-primary-palette-dark,
    tertiary: mat.$blue-palette
  ),
  density: (scale: 0)
));

// Aplica el tema claro por defecto al body (solo una vez)
body,
.theme-light {
  @include mat.core-theme($app-theme-light);
  @include mat.all-component-themes($app-theme-light);
}

// Solo los estilos de color para el tema oscuro
.theme-dark {
  @include mat.all-component-colors($app-theme-dark);
}

.content {
  padding: 20px;
  background-color: var(--background-color);
}