@use 'mixins' as *;
@use 'globals' as *;
@use 'colors' as *;
@use 'variables' as *;
@use 'components/navbar' as *;
@use 'components/buttons' as *;
@use 'components/mat-checkbox' as *;
@use 'components/slide-toggle' as *;


// Custom Theming for Angular Material
// Para más información: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
@use 'sass:map';

@include mat.core();

// Paleta para tema claro
$my-primary-palette-light: map.merge(
  mat.$azure-palette,
  (
    40: $light-primary-color,
    80: $light-primary-color-lighter
  )
);


$app-theme-light: mat.define-theme((
  color: (
   primary: $my-primary-palette-light,
   tertiary: mat.$blue-palette
  ),
  density: (scale: 0)
));


// Paleta para tema oscuro
$my-primary-palette-dark: map.merge(
  mat.$azure-palette,
  (
    40: $dark-primary-color,
    80: $dark-primary-color-darker
  )
);

$app-theme-dark: mat.define-theme((
  color: (
    theme-type: dark,
    primary: $my-primary-palette-dark,
    tertiary: mat.$blue-palette
  ),
  density: (scale: 0)
));



// Aplica los temas de Angular Material y las variables CSS
.theme-light {

  @include mat.all-component-themes($app-theme-light);
  // Las variables CSS ya se exponen en _variables.scss
}

.theme-dark {
  @include mat.all-component-themes($app-theme-dark);
  // Las variables CSS ya se exponen en _variables.scss
}


.content{
    padding: 20px;
    background-color: var(--background-color);
}

